<!-- Heading -->
<div class="lnd-section lnd-header">
  <img
    class="lnd-header-top"
    src="/finn-landing/assets/vectors/graphic-header-left.svg"
    alt="Fox tail graphic"
  />

  <div class="anim-cont lg anim-th center">
    <lottie-player
      src="{{headerAnim lang}}"
      background="transparent"
      speed="0.75"
      loop
      autoplay
      id="anim-4"
    >
    </lottie-player>
  </div>

  <div class="lnd-header-content">
    <div class="header-content-txt">
      <h1 class="header-text">
        {{translate "HEADER.TITLE.START" lang}}
        <u> {{translate "HEADER.TITLE.HIGHLIGHT" lang}}</u>
        {{translate "HEADER.TITLE.END" lang}}
      </h1>
      <p class="lnd-section-sub">
        {{translate "HEADER.SUB_TITLE" lang}}
      </p>

      <div class="user-rating">
        <div class="user-rating-stars">
          <i class="mdi mdi-star"></i>
          <i class="mdi mdi-star"></i>
          <i class="mdi mdi-star"></i>
          <i class="mdi mdi-star"></i>
          <i class="mdi mdi-star-half-full"></i>
        </div>
        <h6 class="user-rating-text"> {{translate "HEADER.REVIEWS" lang}}</h6>
      </div>

      <a
        href="https://app.finn-app.com/"
        class="btn btn-pill default join-list-btn"
        data-version="v2"
        id="headerJoinBtn"
        target="_blank"
      >
        {{translate "SIGN_UP" lang}}
        <i class="icon-right mdi mdi-arrow-right-thin"></i>
      </a>
    </div>
  </div>
</div>

<!-- Mobile Content section -->
<div class="header-extension-md">
  <lottie-player
    src="{{headerAnim lang}}"
    background="transparent"
    speed="0.75"
    loop
    autoplay
    class="ext-anim"
    id="anim-4"
  >
  </lottie-player>
</div>