<!-- Milestones -->
<div class="lnd-section milestones-wrapper">
  <div class="content col">
    <div class="milestones-header">
      <h2 class="title">
        {{translate "MISSION_STATEMENT.TITLE.START" lang}}
        <span class="underlined">
          {{translate "MISSION_STATEMENT.TITLE.HIGHLIGHT" lang}}
          <img
            class="marker-underline"
            src="/finn-landing/assets/vectors/underline.svg"
            alt="Underline with marker"
          />
        </span>
        {{translate "MISSION_STATEMENT.TITLE.END" lang}}
      </h2>
    </div>

    <div class="milestones">
      <div class="milestone" id="milestone-improve">
        <img
          src="/finn-landing/assets/vectors/milestone-improve.svg"
          alt="Milestone improve financial situation"
          class="milestone-img"
        />
        <div class="milestone-content">
          <h5 class="milestone-title">
            {{translate "MISSION_STATEMENT.GOAL_1.TITLE.START" lang}}
            <span>
              {{translate "MISSION_STATEMENT.GOAL_1.TITLE.HIGHLIGHT" lang}}
            </span>
            {{translate "MISSION_STATEMENT.GOAL_1.TITLE.END" lang}}
          </h5>
          <p class="milestone-desc">
            {{translate "MISSION_STATEMENT.GOAL_1.SUB_TITLE" lang}}</p>
        </div>
      </div>

      <div class="milestone" id="milestone-higher">
        <img
          src="/finn-landing/assets/vectors/milestone-higher.svg"
          alt="Milestone higher income"
          class="milestone-img"
        />
        <div class="milestone-content">
          <h5 class="milestone-title">
            {{translate "MISSION_STATEMENT.GOAL_2.TITLE.START" lang}}
            <span>
              {{translate
                "MISSION_STATEMENT.GOAL_2.TITLE.HIGHLIGHT"
                lang
              }}</span>
            {{translate "MISSION_STATEMENT.GOAL_2.TITLE.END" lang}}
          </h5>
          <p class="milestone-desc">
            {{translate "MISSION_STATEMENT.GOAL_2.SUB_TITLE" lang}}
          </p>
        </div>
      </div>

      <div class="milestone" id="milestone-unlock">
        <img
          src="/finn-landing/assets/vectors/milestone-unlock.svg"
          alt="Milestone unlock access"
          class="milestone-img"
        />
        <div class="milestone-content">
          <h5 class="milestone-title">
            {{translate "MISSION_STATEMENT.GOAL_3.TITLE.START" lang}}
            <span>{{translate
                "MISSION_STATEMENT.GOAL_3.TITLE.HIGHLIGHT"
                lang
              }}</span>
            {{translate "MISSION_STATEMENT.GOAL_3.TITLE.END" lang}}
          </h5>
          <p class="milestone-desc">
            {{translate "MISSION_STATEMENT.GOAL_3.SUB_TITLE" lang}}</p>
        </div>
      </div>
    </div>
  </div>
</div>